<div class="container">
  <a href="/">
    <h3>URLShortener</h3>
  </a>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    style="width:200px" alt="">
  <form action="/" method="">

    <h3>Success! Please use this link:</h3>
    <div>
      <p>https://shorten_url.herokuapp.com/{{newShorten}}</p>
    </div>
    <div>
      <button type=" submit">Copy</button>
    </div>
  </form>
</div>